/*css file*/

h1{
	color: green;
	font-weight: normal;
}

p{
	background: yellow;
}

#p_1{
	background: blue;
	color: white;
}

.wrapper{
	width: 50%;
	margin: 30px auto;
	border: 1px solid red;
	padding: 5%;
}

.w1 h1{
	color: orange;
}

.w2 section p{


}

.w1 a{
	
}
