/*css file*/

.wrapper{
	width: 770px;
	margin: 0 auto;
}

.red{
	background-color: #f60005;
	height: 100px;
	clear: both;
	margin-bottom: 20px;
}

#blue{
	background-color: #49baf2;
	height: 650px;
	width: 33.33%;
	float: left;
	margin-bottom: 20px;
}

#green{
	background-color: #3fbb4d;
	height: 650px;
	width: 33.33%;
	float: left;
	margin-bottom: 20px;
}


#yellow{
	background-color: #f8ff28;
	height: 650px;
	width: 33.33%;
	float: left;
	margin-bottom: 20px;
}

