/*css file*/

.wrapper{
    width: 515px;
    margin: 0 auto;
}

.red{
    background-color: #f60005;
    height: 65px;
    clear: both;
    margin-bottom: 10px;
    margin-top: -10px;
}

#blue{
    background-color: #49baf2;
    height: 425px;
    width: 345px;
    float: left;
    margin-bottom: 15px;
    margin-right: 170px;
}

#purple{
    background-color: #8b7bbb;
    height: 215px;
    width: 105px;
    float: left;
    margin-bottom: 15px;
    margin-top: -430px;
    margin-left: 15px;
}

#orange{
    background-color: #e96526;
    height: 215px;
    width: 105px;
    float: left;
    margin-bottom: 15px;
    margin-top: -430px;
    margin-left: 120px;

}

#green{
    background-color: #3fbb4d;
    height: 215px;
    width: 105px;
    float: left;
    margin-bottom: 15px;
    margin-top: -430px;
    margin-left: 225px;

}

#pink{
    background-color: #f094c1;
    height: 175px;
    width: 315px;
    float: left;
    margin-bottom: 15px;
    margin-top: -205px;
    margin-left: 15px;

}


#yellow{
    background-color: #f8ff28;
    height: 425px;
    width: 170px;
    float: right;
    margin-bottom: 20px;
    margin-top: -440px;
    
}